.Rproj.user
.Rhistory
.RData
.Ruserdata

cases.rda

*.html

dash_cache/html/

dash_data/

rsconnect/documents/dash.Rmd/shinyapps.io/amose/COVID-19.dcf

*.dbf

*.prj

*.shp

*.shx

*.cpg

*.sbn

*.sbx

*.xml
