.Rproj.user
.Rhistory
.RData
.Ruserdata

cases.rda

*.html

dash_cache/html/

dash_data/

rsconnect/documents/dash.Rmd/shinyapps.io/amose/COVID-19.dcf

*.dbf

*.prj

*.shp

*.shx

*.cpg

*.sbn

*.sbx

*.xml

gadm36_CAN_1_sp.rds

Shapes/gadm36_AUS_1_sf.rds

Shapes/gadm36_CAN_1_sf.rds

sf_geoms.Rda

data/
